.history-page-tile-feed {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  min-height: 100%; */
}

.history-page-tile {
  background-color: var(--clr-black);
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  border-radius: 20px;
}

.last-tile {
  margin-bottom: 75px;
}

.history-page-tile-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: var(--fs-tile-title);
  font-weight: var(--fw-medium);
  text-align: left;
}

.history-page-tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  margin-bottom: 5px;
}

.history-page-tile-exercises {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  margin-bottom: 5px;
  color: var(--clr-light-grey);
  margin-top: 0;
  border-top: 0;
  margin-top: 0;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: 0.5em 2em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 10px;
  margin-top: 1em;
}

.btn:active {
  transform: scale(1.1);
  transition: 0.1s;
}

.expanded-history-tile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-history-tile {
  background: var(--clr-dark-grey);
  padding: 20px;
  border-radius: 20px;
  border: white 1px solid;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
}

.expanded-tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.expanded-history-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: var(--clr-light-grey);
  margin-top: 0;
  border-top: 0;
  margin-top: 0;
  line-height: 1;
}
