.set-reps-entry-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: auto; /* Centers the element horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.set-reps-entry-content {
  background-color: rgb(58, 58, 58);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
