/* TopBar.css */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-weight: var(--fw-reg);
}

.share-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-container svg {
  margin-right: 5px;
}

.share-text {
  font-size: 12px;
}

.share-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--clr-dark-grey);
  /* border-top: 1px solid #ccc; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14%;
  padding: 10px;
  z-index: 1001;
}

@media (min-width: 768px) {
  .share-menu {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 400px;
  }
}

.share-menu a {
  margin: 0 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.share-menu a:active {
  color: #007bff;
}

.share-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  margin-bottom: 5px;
}

.share-menu-header {
  font-weight: var(--fw-reg);
  margin: 0;
}

.share-menu-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-top: 0;
}
